* {
    margin: 0 ;
    padding: 0;
    color: var(--black);
}

#root {
    text-align: center;
    box-sizing: border-box;
}

.contenedor-producto {
  min-height: 100vh;
  width: 100vw;
  background-color: var(--light-grey);
}