* {
    margin: 0 ;
    padding: 0;
    color: var(--black);
}

#root {
    text-align: center;
    box-sizing: border-box;
}

.contenedor-admin {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: var(--light-grey);
}

.contenedor-columnas-admin {
    display: grid;
    grid-template-columns: 45% 55%;
    background-color: var(--light-grey);
    height: 100%;
}

.arepas-intro {
    width: min(100%, 1800px);
    max-width: 100%;
    height: auto;
    display: block;
}

.control-usuarios {
    width: 100%;
    background-color: var(--white);
    height: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

.control-productos {
    height: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

.titulo-control-productos, .titulo-control-usuarios {
    color: var(--black);
    font-weight: 500;
    font-size: 1.8rem;
}

.subtitulo-control-productos, .subtitulo-control-usuarios {
    color: var(--dark-green);
    font-weight: 500;
    font-size: 1.2rem;
}

.usuario-nuevo {
    display: flex;
    flex-direction: row;
    text-align: left;
    align-items: center;
    gap: 1rem;
    background-color: var(--white);
    width: auto;
    height: auto;
    border-radius: 0.5rem;
    box-shadow: 3px 3px 10px 10px hsla(0, 0%, 0%, 0.1);
    padding: 1rem;
    margin-top: 1rem;

    img {
        width: 23%;
        height: 23%;
    }
}

.columnas-usuario-nuevo {
    display: flex;
    flex-direction: row;
    gap: 1.2rem;
    align-items: center;
}

.texto-usuario-nuevo {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.nombre-usuario-nuevo, .nombre-producto-nuevo {
    font-weight: 600;
}

.botones-usuario-nuevo {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
}

.usuario-rechazar, .usuario-aceptar {
    border: 0;
    padding: 0.6rem 0.2rem;
    border-radius: 0.5rem;
    font-family: var(--poppins);
    font-size: 0.88rem;
    font-weight: 600;
    width: 6rem;
}

.usuario-rechazar {
    background-color: var(--light-grey);
    color: var(--dark-green);
}

.usuario-aceptar {
    background-color: var(--dark-green);
    color: var(--white);
}

.btn-crear {
    background-color: var(--dark-green);
    color: var(--white);
    border: 0;
    padding: 0.6rem 0.2rem;
    border-radius: 0.5rem;
    font-family: var(--poppins);
    font-size: 0.88rem;
    font-weight: 600;
    width: 6rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.usuario-rechazar:hover {
    background-color: var(--grey-hover);
    color: var(--dark-green);
}

.usuario-aceptar:hover {
    background-color: var(--light-green);
    color: var(--dark-green);
}

.btn-crear:hover {
    background-color: var(--light-green);
    color: var(--dark-green);
}

.producto-nuevo {
    display: flex;
    flex-direction: row;
    text-align: left;
    align-items: center;
    gap: 1rem;
    background-color: var(--white);
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
    box-shadow: 3px 3px 10px 10px hsla(0, 0%, 0%, 0.1);
    padding: 1rem;
    margin-top: 1rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;

    img {
        width: 90%;
        height: 90%;
        border-radius: 0.5rem;
    }
}

.columnas-producto-nuevo {
    display: flex;
    flex-direction: row;
    gap: 1.2rem;
    align-items: center;
}

.nombre-descripcion {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    width: 200%;
}

.nombre-usuario-nuevo, .correo-usuario-nuevo, .precio-producto-admin,
.nombre-producto-nuevo, .descripcion-producto-nuevo {
    border: 0;
    background-color: var(--white);
    border-radius: 0.5rem;
    width: 100%;
    padding: 0.3rem;
    font-family: var(--roboto);
    font-size: 1rem;
    color: var(--black);
}

textarea.descripcion-producto-nuevo {
    width: 100%;
}

.contenedor-imagen-admin {
  position: relative;
  cursor: pointer;
  display: inline-block;
  width: 50%;
}

.overlay-imagen-admin {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s;
}

.contenedor-imagen-admin:hover .overlay-imagen-admin {
  opacity: 1;
}

.plus-admin {
  color: white;
  font-size: 2rem;
  font-weight: bold;
}

.select-producto-admin {
    margin-top: 1rem;
    border: none;
    background-color: var(--grey-hover);
    border-radius: 0.5rem;
    width: 100%;
    padding: 0.4rem;
    font-family: var(--roboto);
    font-size: 1rem;
    color: var(--black);
}

select:focus {
  outline: none;
  border-color: var(--light-green);
  box-shadow: 0 0 4px var(--light-green);
}