@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&family=Roboto:wght@400;500;700&display=swap');

:root {
  --poppins: "Poppins", sans-serif;
  --roboto: "Roboto", sans-serif;

  --dark-green: hsl(78, 32%, 29%);
  --light-green: hsl(78, 28%, 60%);
  --white: hsl(0,0%,100%); 
  --light-grey: hsl(220, 23%, 97%);
  --grey: hsl(206, 15%, 40%);
  --black: hsl(212, 20%, 15%);
  --red: hsl(0,100%,60%);
  --light-red: hsl(0,100%,93%);
}

.navbar-carrito {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.8rem;
  padding-top: 0.8rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  background-color: var(--white);
}

.logo-container-carrito {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.logo-carrito {
  width: 9%;
  height: auto;
}

.nombre-carrito {
  font-family: 'Poppins', sans-serif;
  color: var(--dark-green);
  font-size: 1.3rem;
  font-weight: 600;
}

.iconos-carrito {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1.5rem;
}

.icono-carrito {
  width: 5%;
  height: auto;
  cursor: pointer;
}