* {
    margin: 0 ;
    padding: 0;
    color: var(--black);
}

#root {
    text-align: center;
    box-sizing: border-box;
}

.contenedor-home {
    height: 100vh;
    width: 100vw;
    background-color: var(--light-grey);
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor-blanco-home {
    background-color: var(--white);
    width: 40rem;
    height: 28rem;
    border-radius: 0.5rem;
    box-shadow: 3px 3px 10px 10px hsla(0, 0%, 0%, 0.2);
    display: grid;                   
    grid-template-columns: 55% 45%;
}

.contenedor-imagen-home {
    background-color: var(--dark-green);
    display: grid;
    place-items: center;
    border-radius: 0.5rem;
    margin: 1.3rem;

    img {
        width: min(78%, 300px);
        max-width: 300px;
        height: auto;
        display: block;
    }
}

.contenedor-texto-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;  
    text-align: left;
    gap: 1rem;
    margin: 0.9rem;
}

.titulo-home {
    font-family: var(--poppins);
    font-size: 2.2rem;
    font-weight: 600;
}

.subtitulo-home {
    font-family: var(--poppins);
    font-size: 1.6rem;
    font-weight: 500;
}

.mensaje {
    font-family: var(--roboto);
    font-size: 0.88rem;
}

.botones-home {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 89%;       

    .btn-login-home {
        background-color: var(--light-grey);
        color: var(--dark-green);
        border: 0;
        padding: 0.6rem 1.8rem;
        border-radius: 0.5rem;
        font-family: var(--poppins);
        font-size: 0.88rem;
        font-weight: 600;
    }

    .btn-signin-home {
        background-color: var(--dark-green);
        color: var(--white);
        border: 0;
        padding: 0.6rem 1.8rem;
        border-radius: 0.5rem;
        font-family: var(--poppins);
        font-size: 0.88rem;
        font-weight: 600;
    }
}

.btn-login-home:hover {
  background-color: var(--light-green);
  color: var(--dark-green);
}

.btn-signin-home:hover {
  background-color: var(--light-green);
  color: var(--dark-green);
}