* {
    margin: 0 ;
    padding: 0;
    color: var(--black);
}

#root {
    text-align: center;
    box-sizing: border-box;
}

.contenedor-home {
    height: 100vh;
    width: 100vw;
    background-color: var(--light-grey);
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor-blanco {
    background-color: var(--white);
    width: 40rem;
    height: 28rem;
    border-radius: 0.5rem;
    box-shadow: 3px 3px 10px 10px hsla(0, 0%, 0%, 0.2);
    display: grid;                   
    grid-template-columns: 55% 45%;
}

.contenedor-imagen {
    background-color: var(--dark-green);
    display: grid;
    place-items: center;
    border-radius: 0.5rem;
    margin: 1.3rem;

    img {
        width: min(78%, 300px);
        max-width: 300px;
        height: auto;
        display: block;
    }
}

.contenedor-texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;  
    text-align: left;
    gap: 1rem;
}

h1 {
    font-family: var(--poppins);
    font-size: 2.2rem;
    font-weight: 600;
}

h2 {
    font-family: var(--poppins);
    font-size: 1.6rem;
    font-weight: 500;
}

p {
    font-family: var(--roboto);
    font-size: 0.88rem;
}

.botones {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;       

    .btn-login {
        background-color: var(--light-grey);
        color: var(--dark-green)
    }

    .btn-signin {
        background-color: var(--dark-green);
        color: var(--white)
    }
}

button {
    border: 0;
    padding: 0.6rem 1.8rem;
    border-radius: 0.5rem;
    font-family: var(--poppins);
    font-size: 0.88rem;
    font-weight: 600;
}