* {
    margin: 0 ;
    padding: 0;
    color: var(--black);
}

#root {
    text-align: center;
    box-sizing: border-box;
}

.contenedor_blanco {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
}