* {
    margin: 0 ;
    padding: 0;
    color: var(--black);
}

#root {
    text-align: center;
    box-sizing: border-box;
}

.contenedor-pago {
    min-height: 100vh;
    width: 100vw;
    background-color: var(--light-grey);
    display: grid;
    grid-template-columns: 50% 50%;
}

.contenedor-informacion {

}

.contenedor-metodo {
    background-color: var(--white);
}